# Copyright 2021 Pants project contributors.
# Licensed under the Apache License, Version 2.0 (see LICENSE).

ansicolors>=1.0.2
django>=4.2.14
django-debug-toolbar>=3.8.0,<4
django-stubs>=1.10.0
gunicorn>=20.1.0
setuptools>=65.5.1
translate>=3.2.1
protobuf>=3.11.3
pytest>=6.0.1
requests>=2.32.0
types-requests>=2.25.1
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
